*{
  margin: 0;
  padding: 0;
  color: $font-color;
  box-sizing: border-box;
}

.container00{
  color: $font-color;
}

// Primeira divisão do Site

.container1{
  background-image: url(../../images/home/01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.titlePadding{
  padding-top: 14rem;
}

.topLogo{
  width: 16rem;
}

.pages{
  font-size: 13px;
  color: $font-color;
}

#button{
  padding: 15px 30px;
  border: 2px solid $font-color;
}
#arrowDown{
  width: 6rem;
  margin-left: 80vh;
}

// Segunda Divisão do Site

.container2{
  background-image: url(../../images/home/03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

// Terceira Divisão do Site 

.container3{
  background-image: url(../../images/home/02.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

// Quarta Divisão do Site

.container4{
  background-image: url(../../images/home/04.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

// Quinta Divisão do Site

.container5{
  
  text-align: center;
}

.footer a{
  color: $font-color;
  text-decoration: none;
  font-size: 15px;
}